h1 {
    counter-reset: h2counter;
}
h2 {
    counter-reset: h3counter;
}
h3 {
    counter-reset: h4counter;
}
h4 {
    counter-reset: h5counter;
}
h5 {
    counter-reset: h6counter;
}

h2:before {
    counter-increment: h2counter;
    content: counter(h2counter) '.\0000a0\0000a0';
}

h3:before {
    counter-increment: h3counter;
    content: counter(h2counter) '.' counter(h3counter) '.\0000a0\0000a0';
}

h4:before {
    counter-increment: h4counter;
    content: counter(h2counter) '.' counter(h3counter) '.' counter(h4counter)
        '.\0000a0\0000a0';
}

h5:before {
    counter-increment: h5counter;
    content: counter(h2counter) '.' counter(h3counter) '.' counter(h4counter)
        '.' counter(h5counter) '.\0000a0\0000a0';
}

h6:before {
    counter-increment: h6counter;
    content: counter(h2counter) '.' counter(h3counter) '.' counter(h4counter)
        '.' counter(h5counter) '.' counter(h6counter) '.\0000a0\0000a0';
}

.markdown-body h2 {
    page-break-inside: avoid;
}
.markdown-body h2::after {
    content: '';
    display: block;
    height: 100px;
    margin-bottom: -100px;
    page-break-inside: avoid;
}

.markdown-body h3 {
    page-break-inside: avoid;
}
.markdown-body h3::after {
    content: '';
    display: block;
    height: 100px;
    margin-bottom: -100px;
    page-break-inside: avoid;
}

.markdown-body h4 {
    page-break-inside: avoid;
}
.markdown-body h4::after {
    content: '';
    display: block;
    height: 100px;
    margin-bottom: -100px;
    page-break-inside: avoid;
}

.markdown-body h5 {
    page-break-inside: avoid;
}
.markdown-body h5 ::after {
    content: '';
    display: block;
    height: 100px;
    margin-bottom: -100px;
    page-break-inside: avoid;
}

.markdown-body h6 {
    page-break-inside: avoid;
}
.markdown-body h6 ::after {
    content: '';
    display: block;
    height: 100px;
    margin-bottom: -100px;
    page-break-inside: avoid;
}

.markdown-body hr {
    page-break-before: always;
    height: 0;
}

.markdown-body p {
    orphans: 3;
    widows: 3;
}

.markdown-body::before {
    display: none;
}
.markdown-body::after {
    display: none;
}

.markdown-body .captioned {
    padding-right: 1em;
    padding-left: 1em;
    margin-bottom: 2em;
    page-break-inside: avoid;
}

.markdown-body .caption {
    font-style: italic;
}

.markdown-body .caption span {
    font-weight: bold;
}

.markdown-body .keeptogether {
    page-break-inside: avoid;
}
